---
/** SiteFooter — minimal footer with copyright. Static HTML, no client JS. */
const year = new Date().getFullYear();
---

<footer>
  <p>
    &copy; {year} Syamim Hakimi. All rights reserved.
  </p>
</footer>
